.content{
	width:1000px;
	margin:20px auto;
}
/*banner图*/
.banner{
	height:400px;
	background: url(../img/banner_bg2.jpg) no-repeat 0px -100px;
	background-size:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.banner h2,.banner h3{
	position: relative;
    z-index: 1;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color:#fff;
    font-weight:normal;
}
.banner h2{
	font-size:30px;
	margin-bottom:10px;
}
.banner h3{
	font-size:20px;
}
/*右侧文章列表*/
.main_text .main_text_right{
	float:right;
	width:74%;
}
.main_text_right .left_head_list{
	font-size:14px;
}
.left_head_list li{
	float:left;
	height:34px;
	padding:0px 15px;
	background:rgba(34,34,34,.9);
	line-height: 34px;
	border-radius:5px 5px 0px 0px;
	margin-right:3px;
	color:rgba(255,255,255,.3);
}
.left_head_list li.active{
	border-bottom:2px solid #a90101;
	box-sizing:border-box;
	color:#a90101;
}
.left_text_list .text_list_item{
	height:100px;
	margin-bottom: 15px;
    padding: 20px 30px;
    /*background-color: #fff;*/
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,37,55,.06);
}
.text_list_item .title_time{
	float:left;
	width:450px;
	height:100px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.title_time h3{
	font-size:16px;
	/*font-weight:normal;*/
}
.title_time h3 a{
	color:#656565;
}
.title_time p{
	font-size:12px;
}
.title_time time{
	font:14px/30px "微软雅黑";
	color:#a9b0bc;
}
.text_list_item .img{
	float:right;
	width:170px;
	height:100px;
	background:pink;
	overflow: hidden;
}
.text_list_item .img img{
	height:100%;
}
/*左侧个人信息*/
.main_text .main_text_left{
	float:left;
	width:25%;
	font-size:14px;
	padding: 30px 20px;
    /*background-color: #fff;*/
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,37,55,.06);
}
.main_text_left .my_info{
	padding-bottom: 30px;
    border-bottom: 1px solid #e7eaf1;
    color: #4e4e4e;
}
.my_info .img{
	width:70px;
	height:70px;
	border-radius: 50%;
	overflow: hidden;
	margin:auto;
}
.my_info .img img{
	width:70px;
	height:70px;
}
.my_info .name{
	font-size: 16px;
    text-align:center;
    margin:15px 0px 5px;
}
.my_info .hobby{
	font-size: 14px;
	line-height: 20px;
	padding:0px 15px;
	text-align:center;
}
.my_info .link_list{
	font-size:18px;
	line-height: 18px;
	text-align: center;
	margin-top:14px;
}
.link_list li{
	display: inline-block;
	margin:0px 5px;
}
.link_list li a{
	color:#b8bdc3;
}
.link_list li a:hover{
	transition: .4s;
	color:#4e4e4e;
}
/*左侧技能标签*/
.main_text_left .label{
	padding-top: 30px;
	line-height: 22px;
	padding-left:13px;
}
.label a{
	float:left;
	color:#bbb;
	padding:0px 8px;
	margin:0px 2px 8px 0px;
}
.label a:hover{
	transition: .2s;
	color:#83888f;
}
.label a.active{
	font-weight: bold;
}





.foot{
	padding: 20px 0;
    border-top: 1px solid #e7eaf1;
    text-align: center;
	font:12px/20px "微软雅黑";
	color:#a6abb2;
}

.foot .foot_list{
	display:inline-block;
}
.foot_list .foot_list_item{
	float:left;
	/*border-right:1px solid #bbb;*/
	padding:0px 10px;
}
.foot_list li.active{
	border-right:0px;
}
.foot_list_item a{
	color:#a6abb2;
}