body{
	padding:40px 0px;
	font:14px/22px "微软雅黑";
	color:#666;
}
.head{
	height:100px;
}
.head .head_content{
	width:1100px;
	height:100%;	margin:auto;
}
.head_content .head_left{
	height:100%;
	float:left;
	font:14px/30px "微软雅黑";
	color:#ccc;
}
.head_left .back{

}
.head_left .title{
	font-size:18px;
	line-height:30px;
	color:#000;
	height:30px;
	margin-bottom:20px;
}
.title i,.title span{
	float:left;
}
.title .logo{
	display: inline-block;
	width:120px;
	height:16px;
	background:url(../img/logo3.png) no-repeat;
	margin-right: 15px;
	margin-top:7px;
}
.head_left .info{
	font:14px/20px "微软雅黑";
}
.info span{
	float:left;
	margin-right:10px;
	border-right:1px solid #ccc;
	padding-right:10px;
}
.info .comments{
	border-right: 0px;
}
.info span i{
	display: inline-block;
	margin-right:5px;
	margin-top:3px;
}
.info .time i{
	background: url(../img/time.png) no-repeat;
	width:16px;
	height:13px;
	background-size:100%;
}
.info .visits i{
	background: url(../img/visits.png) no-repeat;
	width:20px;
	height:13px;
	background-size:100%;
}
.info .comments i{
	background: url(../img/comments.png) no-repeat;
	width:18px;
	height:14px;
	background-size:100%;
}


.head_content .head_right{
	float: right;
}
.head_right img{
	width:100px;
	height:100%;
}

.content{

	width:1100px;
	margin:auto;
	padding-bottom:20px;
	border-bottom:1px solid #bbb;
	padding-top:10px;
}
.content .img{
	height:400px;
	overflow: hidden;
	margin-bottom:20px;
}
.content .img img{
	height:100%;
	
}
.content .text{
	margin:10px 0px;
}
.content .text h3{
	margin-bottom: 10px;
}
.content .text p{
	text-indent: 28px;
}
.content .text p span{
	font-weight:bold;
}

.foot{
	
}
.foot .foot_content{
	width:1100px;
	margin:auto;
	position: relative;
}
.foot_content h3{
	font-size:18px;
	line-height:30px;
	color:#000;
	height:30px;
	margin:10px 0px;
}
.foot_content .textBox{
	width:500px;
	border:1px solid #bbb;
}
.textBox .textBox_head{
	height:22px;
	background:#eceef0;
	padding:4px 0px;
}
.textBox_head .ico_list{
	margin-left:10px;

}
.ico_list li{
	float:left;
	position: relative;
}
.ico_list li a,.ico_list li a i{
	display:block;
}
.ico_list .emoticons a{
	width:22px;
	height:20px;
	border:1px solid #eceef0;
	display: flex;
	justify-content:center;
	align-items:center;
}
.ico_list .emoticons a i{
	width:16px;
	height:16px;
	background:url(../img/emoticons.png) no-repeat;
}
.emoticons .emoticons_list{
	position:absolute;
	top:-70px;
	width:165px;
	border:1px solid #8d8e95;
	background:#fff;
	display:none;
}
.emoticons ul.show{
	display:block;
}
.emoticons_list li{
	float:left;
	width:33px;
	height:33px;
	border-right:1px solid #d3e4f0;
	border-bottom:1px solid #d3e4f0;
	display: flex;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
}
.emoticons_list .item a{
	display:inline-block;
	width:20px;
	height:20px;
	border:0px;
	background-image:url(../img/emoticons.png);
	background-repeat:  no-repeat;
	background-position-y:-16px;

}


.noBottom{
	border-bottom:0px;
}


.textBox .textBox_main{
	height:140px;
	border-top:1px solid #bbb;
}
.textBox_main textarea{
	font:14px/20px "微软雅黑";
	resize:none;
	width:100%;
	height:140px;
	padding:0px;
	border:0px;
	padding:10px;
	box-sizing:border-box;
}
textarea{
	outline:none;
}
.textBox_main div i{
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(../img/emoticons.png);
	background-repeat:  no-repeat;
	background-position-y:-36px;
	margin:0px 3px;
}

.foot_content .submit{
	width:80px;
	height:30px;
	border:0px;
	margin-top:10px;
	border-radius:4px;
}
.foot_content .foot_list{
	height:16px;
	font:12px/16px "微软雅黑";
	color:#bbb;
	position: absolute;
	bottom: 0px;
	right:0px;
}
.foot_list li{
	float:left;
	padding:0px 10px;
	border-right:1px solid #bbb;
}
.foot_list li:nth-of-type(3){
	border-right:0px;
}
