/*统一头部*/
.head,.foot{
	color:#3d3d3d;
	font-size:12px;
	font-family:arial,"宋体";
}
.head{
	height:156px;
	/*margin-bottom:15px;*/
}
/*头部吊顶*/
.head .top_bar{
	height:25px;
	background-color:#f2f2f2;
	border-bottom:1px solid #e5e5e5;
}
.top_bar .bar_info{
	width:1190px;
	height:25px;
	margin:0px auto;
	line-height:22px;
}
.bar_info .info_left{
	float:left;
	width:250px;
	height:25px;
	position:relative;
}
.info_left .img,.play,.regsiter{
	position:absolute;
}
.info_left .img{
	width:13px;
	height:25px;
	background:url(../img/all.png) no-repeat -144px 0px;
	left:5px;
}
.info_left .play{
	color:#aaaaaa;
	left:42px;
	top:3px;
}
.info_left .regsiter{
	left:159px;
	top:3px;
}
.regsiter a{
	color:#6c6c6c;
}
.bar_info .info_right{
	float:right;
	width:214px;
	height:25px;
	color:#6c6c6c;
}
.info_right li{
	float:left;
	padding:0px 6px;
}
.info_right a{
	display:inline-block;
}
.info_right .line{
	width:1px;
	height:12px;
	background-color:#e3dde3;
	margin-right:7px;
	overflow:hidden;
	margin-top:8px;
	padding:0px;
}
.info_right .merchants{
	width:61px;
	height:25px;
}
.info_right .text1{
	float:left;
	margin-right:7px;
	line-height:22px;
	margin-top:2px;
}
.info_right .ico1{
	float:left;
	width:6px;
	height:25px;
	background:url(../img/all.png) no-repeat -168px 0px;
}
.info_right .taobao{
	width:31px;
	height:25px;
}
.info_right a{
	color:#6c6c6c;
}
.info_right .site_nav{
	width:78px;
	height:25px;
}
.info_right .ico2{
	float:left;
	width:11px;
	height:25px;
	background:url(../img/all.png) no-repeat -157px 0px;
	margin-right:6px;
}
/*头部主体*/
.head .head_main{
	width:1190px;
	height:70px;
	margin:0px auto;
}
.head_main .logo{
	float:left;
}
.logo a{
	float:left;
	width:144px;
	height:0px;
	background:url(../img/all.png) no-repeat;
	padding-top:70px;
	overflow:hidden;
}
.head_main .head_main_other{
	float:right;
	width:407px;
	height:70px;
}
.head_main_other .phone{
	float:left;
	width:200px;
	height:31px;
	border:1px solid #dce0e5;
	margin-top:10px;
	padding:0px 15px 0px 10px;
}
.phone .phone_ico1,.phone_text{
	float:left;
}
.phone .phone_ico2{
	float:right;
	width:10px;
	height:31px;
	background:url(../img/all.png) no-repeat -163px -25px;
}
.phone .phone_ico1{
	width:19px;
	height:31px;
	background:url(../img/all.png) no-repeat -144px -25px;
}
.phone .phone_text{
	line-height:30px;
	margin-left:12px;
	color:#333333;
}
.head_main_other .saoma{
	float:right;
	width:123px;
	height:59px;
	padding:5px 1px 6px 0px;
}
.saoma .img1{
	float:left;
	width:57px;
	height:59px;
	overflow:hidden;
}
.saoma .img2{
	float:right;
	width:58px;
	height:59px;
	overflow:hidden;
}
/*头部导航*/
.head .nav{
	height:60px;
	background-color:#ffc300;
}
.nav .nav_main_list{
	width:1190px;
	height:60px;
	margin:0px auto;
	font:16px/60px "微软雅黑";
}
.nav_main_list .nav_main_item{
	float:left;
}
.nav_main_list .text{
	display:inline-block;
	position:relative;
	color:#3d3d3d;
	padding:0px 12px;
}
.nav_main_list .first{
	color:#fff;
	background-color:#3d3d3d;
}
.nav_main_list .nav_new,.nav_hot{
	position:absolute;
	left:68px;
	top:-8px;
	overflow: hidden;
}

/*底部*/
.foot{
	width:1190px;
	/*height:315px;*/
	
	margin:0px auto;
	padding-top:10px;
}
/*机票--底部*/
.foot-top{
	height:36px;
	border:1px solid #eeeeee;
	padding:10px;
	font-size:12px;
	line-height:18px;
	margin-bottom:10px;
	
}
.foot-top a,.foot-top span{
	float:left;
}
.foot-top a{
	color:#3d3d3d;
	white-space:nowrap;
}
.foot-top span{
	width:1px;
	height:12px;
	background-color:#a594c4;
	margin:3px 6px 0px;
	overflow: hidden;
}
/*底部（旅行产品，新手上路，商家上架服务，扫描下载）*/
.foot .foot_text{
	height:86px;
	border-bottom:1px solid #e8e8e8;
	padding:40px 0px;
	color:#3d3d3d;
	border-top:3px solid #ffc300;
}
.foot_text .foot_list{
	float:left;
}
.foot_list .foot_item{
	float:left;
	width:199px;
	height:80px;
	padding:0px 25px;
}
.foot_list .foot_item2{
	width:200px;
	border-left:1px solid #e8e8e8;
}
.foot_list .foot_item3{
	width:221px;
	border-left:1px solid #e8e8e8;
}
.foot_item .foot_top_title{
	font:16px/24px arial,"微软雅黑";
	font-weight:bold;
	margin-bottom:16px;
}
.foot_item .foot_top_text{
	font:12px/18px arial,"宋体";
}
.foot_top_text a{
	color:#3d3d3d;
	margin-right:8px;
	white-space:nowrap;
}
.foot_top .foot_right{
	float:right;
	width:387px;
	height:86px;
	border-left:1px solid #e8e8e8;
	background:url(../img/foot_right.png) no-repeat 310px 0px;
	padding:0px 1px 0px 29px;
}
.foot_right .foot_right_img1{
	float:left;
	width:263px;
	height:66px;
	background:url(../img/all.png) no-repeat 0px -109px;
	margin-top:14px;
}
.foot_right .foot_right_img2{
	float:right;
	width:83px;
	height:63px;
	white-space:normal;
	margin-top:13px;
}
.foot_right_img2 .download_img{
	float:left;
}
.foot_right_img2 .download{
	float:right;
	width:12px;
	color:#9c9c9c;
	margin-top:1px;
}
/*底部-下（版权）*/
.foot .foot_copy{
	height:120px;
}
.foot_copy .foot_copy1{
	height:24px;
	border-bottom:1px dashed #e8e8e8;
	padding:2px 0px 0px 3px;
	margin-bottom:1px;
	line-height:24px;
}
.foot_copy1_text{
	float:left;
	color:#6c6c6c;
}
.foot_copy1 .foot_copy1_line{
	float:left;
	width:1px;
	height:12px;
	background-color:#e2d5e2;
	margin:6px 6px 0px;
	overflow: hidden;
}
.foot_copy2 .foot_copy1_text{
	margin-right:4px;
}
.foot_copy .foot_copy2,.foot_copy3{
	line-height:26px;
}
.foot_copy .foot_copy3{
	color:#999999;
}
.foot_copy .foot_copy4{
	height:40px;
	padding:1px 0px 0px 4px;
}
.foot_copy4 .police{
	display:block;
	width:32px;
	height:39px;
	background:url(../img/all.png) no-repeat 0px -70px;
}