body,h1,h3,h5,h6,dl,dd,p{
	margin:0px;
}
a{
	text-decoration:none;
}
img{
	vertical-align:top;
	border:none;
}
ul,ol{
	margin:0px;
	padding:0px;
	list-style:none;
}
input{
	padding: 0;
	border:none;
	/*border: 1px solid #ababab;*/
}