/*默认样式*/
body,h1,h2,h3,p,dl,dd{
	margin:0px;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
img{
	vertical-align:top;
	border:none;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
body{
	color:#000;
}
/*头部*/
.head{
	height:48px;
	border-bottom:1px solid #e6e6e6;
	font:14px/48px arial,"微软雅黑","宋体";
}
.head .head_main{
	width:90%;
	height:48px;
	margin:0 auto;
}
/*头部左边*/
.head_main .head_main_left{
	float:left;
}
.head_main_left .logo,.head_main_left .head_left_list{
	float:left;
}
.logo a{
	display:block;
	width:108px;
	height:0px;
	background:url(img/all.png) no-repeat;
	margin:13px 19px 0px 0px;
	padding-top:23px;
	overflow:hidden;
}
.head_left_list .head_left_item{
	float:left;
}
.head_left_item a,.head_left_item i,.head_left_item span{
	display:inline-block;
}
.head_left_item a{
	padding:0px 23px;
}
.head_left_item i{
	width:13px;
	height:8px;
	background:url(img/all.png) no-repeat -108px 0px;
	margin-left:3px;
}
/*头部右边*/
.head_main .head_main_right{
	float:right;
}
.head_main_right .form{
	float:left;
	position:relative;
}
.form_search:focus{
	outline:none;
}
.form_search{
	width:229px;
	height:34px;
	border:1px solid #a9a9a9;
	color:#000;
	padding:0px 30px 0px 12px;
}
.form a{
	position:absolute;
	top:8px;
	right:1px;
	padding:8px 6px 9px;	
}
.form .search_ico{
	display:block;
	width:18px;
	height:17px;
	background:url(img/all.png) no-repeat -121px 0px;
}
.buy_car,.login{
	float:left;
	padding:0px 12px;
}
.buy_car i{
	display:inline-block;
	width:18px;
	height:15px;
	background:url(img/all.png) no-repeat -139px 0px;
}
.login{
	font-size:12px;
	color:#505050;
}
/*主体*/
.content{
	 width:90%;
	 margin:0 auto;
}
/*banner图(一)*/
.content .banner{
	/*display:inline-block;*/
	width:100%;
	/*height:445px;*/
	position:relative;
}
.banner .banner_img{
	/*position:absolute;
	left:0px;
	top:0px;*/
	width:100%;
	min-height:167px;
	display:inline-block;
	/*height:445px;*/
	/*overflow:hidden;*/
}
.banner img{
	width:100%;
	min-height:167px;
}
/*左右按钮*/
.btn_left_right{
	position:absolute;
	left:0px;
	top:50%;
	width:100%;
	height:48px;
}
.btn_left_right a{
	width:24px;
	height:48px;
	background-color:#000;
	text-align:center;
}
.btn_left_right .btn_left{
	float:left;
}
.btn_left_right .btn_right{
	float:right;
}
.btn_left_right i{
	display:inline-block;
	width:10px;
	height:15px;
	background:url(img/all.png) no-repeat -174px 0px;
	margin-top:16px;
}
.btn_right i{
	background-position:-184px 0px;
}
/*其他（文字、点、暂停播放）*/
/*.banner_other{
	width:100%;
	display:inline-block;
	height:280px;
	position:absolute;
	left:0px;
	bottom:18px;
}*/
.banner_other{
	display:block;
}
/*点*/
.btn_dian{
	position:absolute;
	left:0px;
	bottom:26px;
	width:100%;
	height:6px;
	text-align:center;
}
.btn_dian .btn_dian_center{
	position:absolute;
	display:inline-block;
	/*position:absolute;*/
	height:6px;
}
.btn_dian_center a{
	float:left;
	width:4px;
	height:4px;
	border:1px solid #000;
	margin-right:6px;
	border-radius:10px;
}
.btn_dian_center .dian_2{
	margin-right:0px;
}
.btn_dian_center .dian_1{
	width:6px;
	height:6px;
	border:0px;
	background-color:#000;
}

/*暂停播放*/
.btn_stop_play{
	position:absolute;
	left:6.5%;
	bottom:18px;
}
.btn_stop_play a{
	float:left;
	width:48px;
	height:18px;
	border:1px solid #8c8c8c;
	background-color:#333333;
	margin-right:5px;
	text-align:center;
}
.btn_stop_play .btn_stop{
	border:1px solid #333333;
	background-color:#fff;
}
.btn_stop_play i{
	display:inline-block;
}
.btn_play i{
	width:7px;
	height:12px;
	background:url(img/all.png) no-repeat -157px 0px;
}
.btn_stop i{
	width:10px;
	height:10px;
	background:url(img/all.png) no-repeat -164px 0px;
}
/*文字*/
.banner .banner_text{
	position:absolute;
	left:6.5%;
	bottom:146px;
	/*width:42%;*/
}
.banner_text .banner_title{
	padding-bottom:2px;
	font:34px/48px SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.banner_title a{
	display:inline-block;
	font-weight:normal;
}
.banner_text .banner_info{
	font:18px/27px SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:8px 0px 4px;
}
.banner_info a{
	display:inline-block;
}
.banner_text_btn{
	margin-top:31px;
	font:12px/41px "宋体";
}
.banner_text_btn a{
	float:left;
	width:93px;
	height:41px;
	background-color:#000;
	margin-right:13px;
	color:#fff;
	padding-left:28px;
}
.banner_text_btn .buy{
	margin-right:0px;
}
.banner_text_btn i,.banner_text_btn span{
	float:left;
}
.banner_text_btn i{
	width:8px;
	height:13px;
	background:url(img/all.png) no-repeat -194px 0px;
	margin:15px 0px 0px 7px;
}

.content .product{
	width:100%;
	margin-top:70px;
}
.product .product_list{
	
}
.product_list .product_item{
	float:left;
	width:25%;
}
.product_item .product_item_main{
	/*width:284px;*/
	margin:0px 10px 65px;
}
.product_item_main a{
	width:100%;
	display:inline-block;
}
.product_item_main img,.product_item_main span{
	display:block;
	width:100%;
}
.product_item_main .product_item_main_title{
	font:22px/28px SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:12px 0px 2px;
}
.product_item_main .product_item_main_info{
	font:14px/24px SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top:2px;
}


/*.content .mall{
	width:100%;
	height:445px;
	position:relative;
}
.banner .mall_img{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:445px;
	overflow:hidden;
}
.mall img{
	width:100%;
}
.mall a{
	color:#fff;
}*/
.banner_2 a{
	color:#fff;
}


.product h2{
	text-align:center;
	font:34px/56px SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top:-17px;
	margin-bottom:47px;
}



/*底部*/
.foot{
	padding:25px 0px;
	background-color:#f2f2f2;
	font:12px/24px arial,"宋体";
}
.foot .foot_main{
	width:90%;
	margin:0px auto;
}
.foot_main_list{
	width:100%;
}
.foot_main_list .foot_main_item{
	float:left;
	width:16%;
	margin-bottom:40px;
}
.foot_main_item dt{
	font:14px/32px arial,"宋体";
	color:#626262;
}
.foot a{
	color:#62666f;
}
.copyright{

}
.copyright .copyright_left{
	float:left;
	width:30%;
}
.copyright_left i,.copyright_left a{
	float:left;
}
.copyright_left i{
	width:25px;
	height:24px;
	background:url(img/all.png) no-repeat 0px -23px;
	margin-right:6px;
}
.copyright .copyright_right{
	float:right;
	width:70%;
}
.copyright_right_item{
	float:left;
	margin-left:24px;
}
.foot_main_item dl dt i{
	display:inline-block;
	width:12px;
	height:6px;
	background:url(img/all.png) no-repeat -25px -23px;
	display:none;
}


/* media star*/
@media all and (max-width:1084px) {
	.content{
		width:100%;
	}
	/*.content .banner{
		display:inline-block;
		width:100%;
		height:772px;
		position:relative;
	}
	.banner .banner_img{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:492px;
		overflow:hidden;
	}
	.banner_img img{
		height:100%;
	}*/
	.banner_other{
		width:100%;
		height:280px;
		/*position:absolute;
		left:0px;
		bottom:0px;*/
		background-color:#e6e6e6;
	}
	.banner_other .banner_text{
		position:absolute;
		left:0px;
		bottom:74px;
		width:100%;
		text-align:center;
	}
	.banner_2 a{
		color:#000;
	}
	.banner_text_btn .more,
	.banner_text_btn .buy{
		float:none;
		display:inline-block;
	}
	.product_list .product_item{
		width:50%;
	}
	.product_item .product_item_main{
		margin-bottom:36px;
	}
}

@media all and (max-width:933px) {
	.form_search{
		display:none;
	}
}

@media all and (max-width:899px) {
	.head_left_list{
		display:none;
	}
	.head .head_main{
		width:100%;
	}
	.head_main_left{
		margin-left:10px;
	}
	.foot_main_list .foot_main_item{
		width:33%;
	}
	.foot_main_list .fl_3{
		height:176px;
	}
	.copyright .copyright_left{
		float:none;
		width:100%;
		/*display:inline-block;*/
	}
	.copyright_left i,.copyright_left a{
		float:left;
	}
	.copyright .copyright_right{
		float:none;
		display:block;
		width:100%;
	}
	.copyright_right .copyright_right_item{
		margin-left:0px;
		margin-right:24px;
	}
}

@media all and (max-width:540px) {
	.product .product_list{
		text-align:center;
	}
	.product_list .product_item{
		float:none;
		display:inline-block;
		width:90%;
	}
	.foot_main_list .foot_main_item{
		float:none;
		width:100%;
		margin-bottom:0px;
		margin-left:0px;
	}
	.foot_main_list .fl_3{
		margin-bottom:0px;
		height:32px;
	}
	.foot_main_item dd{
		display:none;
	}
	.foot_main_item dl dt i{
	display:inline-block;
	}
}